<script setup lang="ts">
import Chessboard from '../components/Chessboard.vue'

</script>

<template>
  <Chessboard id="chessboard"/>
</template>

<style scoped>
body{
  justify-content: center;
  align-items: center;
  align-content: center;
}

#chessboard{
  width: 400px;
  height: 400px;
}

</style>
