<script setup lang="ts">

</script>

<template>
  <div class="grid-container">
    <div v-for="i in 8" :key="i">
      <div v-for="j in 8" :key="j" class="grid-item">
        <div v-if="(i+j)%2 == 0" class="light">
        </div>
        <div v-else class="dark">
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped>

.grid-container{
  border: 49px solid #462921;
  margin: 0 auto;
  background-color: rgba(30, 16, 16, 0.992);
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
}

.grid-item{
  text-align: center;
  vertical-align: middle;
  height: 12.5%;
}

.light{
  height: 100%;
  background-color: wheat;
}

.dark{
  height: 100%;
  background-color: #7d6543;
}
</style>