<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HomeView from './views/HomeView.vue';
</script>

<template class="app">
    <HomeView />
</template>

<style>
html{
  background-color: rgb(32, 30, 30);
}

</style>
